src/main/resources/nose.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.example.org/nose"
	xmlns:tns="http://www.example.org/nose" elementFormDefault="qualified">
	
	<!--///////////////////CRUD Vuelo////////////////////////-->
	<element name="CreateFlightRequest">
		<complexType>
			<sequence>
				<element name="id" type="int"></element>
				<element name="aerolinea" type="string"></element>
				<element name="codigo_avion" type="string"></element>
				<element name="fecha_salida" type="string"></element>
				<element name="hora_salida" type="string"></element>
				<element name="hora_llegada" type="string"></element>
				<element name="pais_origen" type="string"></element>
				<element name="pais_destino" type="string"></element>
				<element name="ciudad_origen" type="string"></element>
				<element name="ciudad_destino" type="string"></element>
				<element name="precio_tarifa_basica" type="double"></element>
				<element name="precio_tarifa_clasica" type="double"></element>
				<element name="precio_tarifa_amplus" type="double"></element>
				<element name="precio_tarifa_flexible" type="double"></element>
				<element name="precio_tarifa_premier" type="double"></element>
				<element name="beneficios_tarifa_basica" type="string"></element>
				<element name="beneficios_tarifa_clasica" type="string"></element>
				<element name="beneficios_tarifa_amplus" type="string"></element>
				<element name="beneficios_tarifa_flexible" type="string"></element>
				<element name="beneficios_tarifa_premier" type="string"></element>
				<element name="num_asientos_tarifa_basica" type="int"></element>
				<element name="num_asientos_tarifa_clasica" type="int"></element>
				<element name="num_asientos_tarifa_amplus" type="int"></element>
				<element name="num_asientos_tarifa_flexible" type="int"></element>
				<element name="num_asientos_tarifa_premier" type="int"></element>
			</sequence>
		</complexType>
	</element>
	
	<element name="CreateFlightResponse">
		<complexType>
			<sequence>
				<element name="datos" type="string"></element>
			</sequence>
		</complexType>
	</element>
	
	<element name="ReadFlightRequest">
		<complexType>
			<sequence>
				<element name="id" type="int"></element>
			</sequence>
		</complexType>
	</element>
	
	<element name="ReadFlightResponse">
		<complexType>
			<sequence>
				<element name="datos" type="string"></element>
			</sequence>
		</complexType>
	</element>
	
	<element name="DisplayAllFlightRequest">
		<complexType/>
	</element>
	
	<element name="DisplayAllFlightResponse">
		<complexType>
			<sequence>
				<element name="datos" maxOccurs="unbounded">
					<complexType>
						<sequence>
							<element name="id" type="int"></element>
							<element name="aerolinea" type="string"></element>
							<element name="codigo_avion" type="string"></element>
							<element name="fecha_salida" type="string"></element>
							<element name="hora_salida" type="string"></element>
							<element name="hora_llegada" type="string"></element>
							<element name="pais_origen" type="string"></element>
							<element name="pais_destino" type="string"></element>
							<element name="ciudad_origen" type="string"></element>
							<element name="ciudad_destino" type="string"></element>
							<element name="precio_tarifa_basica" type="double"></element>
							<element name="precio_tarifa_clasica" type="double"></element>
							<element name="precio_tarifa_amplus" type="double"></element>
							<element name="precio_tarifa_flexible" type="double"></element>
							<element name="precio_tarifa_premier" type="double"></element>
							<element name="beneficios_tarifa_basica" type="string"></element>
							<element name="beneficios_tarifa_clasica" type="string"></element>
							<element name="beneficios_tarifa_amplus" type="string"></element>
							<element name="beneficios_tarifa_flexible" type="string"></element>
							<element name="beneficios_tarifa_premier" type="string"></element>
							<element name="num_asientos_tarifa_basica" type="int"></element>
							<element name="num_asientos_tarifa_clasica" type="int"></element>
							<element name="num_asientos_tarifa_amplus" type="int"></element>
							<element name="num_asientos_tarifa_flexible" type="int"></element>
							<element name="num_asientos_tarifa_premier" type="int"></element>
						</sequence>
					</complexType>
				</element>
			</sequence>
		</complexType>
	</element>
	
	<element name="ShowSelectedFlightRequest">
		<complexType>
			<sequence>
				<element name="num_infantes" type="int"></element>
				<element name="num_ninos" type="int"></element>
				<element name="num_adultos" type="int"></element>
				<element name="ciudad_origen" type="string"></element>
				<element name="ciudad_destino" type="string"></element>
				<element name="fecha_salida" type="string"></element>
			</sequence>
		</complexType>
	</element>
	
	<element name="ShowSelectedFlightResponse">
		<complexType>
			<sequence>
				<element name="datos" maxOccurs="unbounded">
					<complexType>
						<sequence>
							<element name="id" type="int"></element>
							<element name="aerolinea" type="string"></element>
							<element name="codigo_avion" type="string"></element>
							<element name="fecha_salida" type="string"></element>
							<element name="hora_salida" type="string"></element>
							<element name="hora_llegada" type="string"></element>
							<element name="pais_origen" type="string"></element>
							<element name="pais_destino" type="string"></element>
							<element name="ciudad_origen" type="string"></element>
							<element name="ciudad_destino" type="string"></element>
							<element name="precio_tarifa_basica" type="double"></element>
							<element name="precio_tarifa_clasica" type="double"></element>
							<element name="precio_tarifa_amplus" type="double"></element>
							<element name="precio_tarifa_flexible" type="double"></element>
							<element name="precio_tarifa_premier" type="double"></element>
							<element name="beneficios_tarifa_basica" type="string"></element>
							<element name="beneficios_tarifa_clasica" type="string"></element>
							<element name="beneficios_tarifa_amplus" type="string"></element>
							<element name="beneficios_tarifa_flexible" type="string"></element>
							<element name="beneficios_tarifa_premier" type="string"></element>
							<element name="num_asientos_tarifa_basica" type="int"></element>
							<element name="num_asientos_tarifa_clasica" type="int"></element>
							<element name="num_asientos_tarifa_amplus" type="int"></element>
							<element name="num_asientos_tarifa_flexible" type="int"></element>
							<element name="num_asientos_tarifa_premier" type="int"></element>
						</sequence>
					</complexType>
				</element>
			</sequence>
		</complexType>
	</element>
	
	<element name="UpdateFlightRequest">
		<complexType>
			<sequence>
				<element name="id" type="int"></element>
					<element name="aerolinea" type="string"></element>
					<element name="codigo_avion" type="string"></element>
					<element name="fecha_salida" type="string"></element>
					<element name="hora_salida" type="string"></element>
					<element name="hora_llegada" type="string"></element>
					<element name="pais_origen" type="string"></element>
					<element name="pais_destino" type="string"></element>
					<element name="ciudad_origen" type="string"></element>
					<element name="ciudad_destino" type="string"></element>
					<element name="precio_tarifa_basica" type="double"></element>
					<element name="precio_tarifa_clasica" type="double"></element>
					<element name="precio_tarifa_amplus" type="double"></element>
					<element name="precio_tarifa_flexible" type="double"></element>
					<element name="precio_tarifa_premier" type="double"></element>
					<element name="beneficios_tarifa_basica" type="string"></element>
					<element name="beneficios_tarifa_clasica" type="string"></element>
					<element name="beneficios_tarifa_amplus" type="string"></element>
					<element name="beneficios_tarifa_flexible" type="string"></element>
					<element name="beneficios_tarifa_premier" type="string"></element>
					<element name="num_asientos_tarifa_basica" type="int"></element>
					<element name="num_asientos_tarifa_clasica" type="int"></element>
					<element name="num_asientos_tarifa_amplus" type="int"></element>
					<element name="num_asientos_tarifa_flexible" type="int"></element>
					<element name="num_asientos_tarifa_premier" type="int"></element>
			</sequence>
		</complexType>
	</element>
	
	<element name="UpdateFlightResponse">
		<complexType>
			<sequence>
				<element name="datos" type="string"></element>
			</sequence>
		</complexType>
	</element>
	
	<element name="DeleteFlightRequest">
		<complexType>
			<sequence>
				<element name="id" type="int"></element>
			</sequence>
		</complexType>
	</element>
	
	<element name="DeleteFlightResponse">
		<complexType>
			<sequence>
				<element name="datos" type="string"></element>
			</sequence>
		</complexType>
	</element>
	<!--///////////////////CRUD Vuelo////////////////////////-->
	
	
	<!--///////////////////CRUD Reservaciones de vuelos////////////////////////-->
	<element name="CreateFlightReservationRequest">
		<complexType>
			<sequence>
				<element name="id_vuelo" type="int"></element>
				<element name="nombre_cliente" type="string"></element>
				<element name="num_tarjeta" type="string"></element>
				<element name="fecha_vencimiento" type="string"></element>
				<element name="codigo_cvc" type="int"></element>
				<element name="cantidad" type="int"></element>
			</sequence>
		</complexType>
	</element>
	
	<element name="CreateFlightReservationResponse">
		<complexType>
			<sequence>
				<element name="datos" type="string"></element>
			</sequence>
		</complexType>
	</element>
	
	<element name="ReadReservationRequest">
		<complexType>
			<sequence>
				<element name="id" type="int"></element>
			</sequence>
		</complexType>
	</element>
	
	<element name="ReadReservationResponse">
		<complexType>
			<sequence>
				<element name="datos" type="string"></element>
			</sequence>
		</complexType>
	</element>
	
	<element name="UpdateReservationRequest">
		<complexType>
			<sequence>
				<element name="id" type="int"></element>
				<element name="id_vuelo" type="int"></element>
				<element name="nombre_cliente" type="string"></element>
				<element name="numero_tarjeta" type="string"></element>
				<element name="fecha_vencimiento" type="string"></element>
				<element name="codigo_cvc" type="int"></element>
				<element name="cantidad" type="int"></element>
			</sequence>
		</complexType>
	</element>
	
	<element name="UpdateReservationResponse">
		<complexType>
			<sequence>
				<element name="datos" type="string"></element>
			</sequence>
		</complexType>
	</element>
	
	<element name="DeleteReservationRequest">
		<complexType>
			<sequence>
				<element name="id" type="int"></element>
			</sequence>
		</complexType>
	</element>
	
	<element name="DeleteReservationResponse">
		<complexType>
			<sequence>
				<element name="datos" type="string"></element>
			</sequence>
		</complexType>
	</element>
	
	<element name="DisplayAllReservationRequest">
		<complexType/>
	</element>
	
	<element name="DisplayAllReservationResponse">
		<complexType>
			<sequence>
				<element name="datos" maxOccurs="unbounded">
					<complexType>
						<sequence>
							<element name="id" type="int"></element>
							<element name="id_vuelo" type="int"></element>
							<element name="nombre_cliente" type="string"></element>
							<element name="numero_tarjeta" type="string"></element>
							<element name="fecha_vencimiento" type="string"></element>
							<element name="codigo_cvc" type="int"></element>
							<element name="cantidad" type="int"></element>
						</sequence>
					</complexType>
				</element>
			</sequence>
		</complexType>
	</element>
	<!--///////////////////CRUD Reservaciones de vuelos////////////////////////-->
	
</schema>